.rowItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 24px 32px rgb(17 23 41 / 4%), 0px 16px 24px rgb(17 23 41 / 4%), 0px 4px 8px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
    margin: 15px 10%;
    padding: 0 30px;
    border-radius: 10px;
    background-color: #111729;
    cursor: pointer
}

.col {
    display: flex;
    flex-direction: column;
}

.left {
    margin-left: auto;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: #fff7ff;
}

.title{
    margin-bottom: 0;
}

.author {
    margin-top: 5px;
}

.button {
    margin-left: 20px;
    background-color: #1117292d;
    padding: 15px;
    border: none;
    border-radius: 50%;
}

.button:hover {
    background-color: #292a49;
}