@font-face {
  font-family: "BalooDa2";
  src: local("BalooDa2"),
  url("./assets/fonts/BalooDa2-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BalooDa2";
  src: local("BalooDa2"),
  url("./assets/fonts/BalooDa2-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "BalooDa2";
  src: local("BalooDa2"),
  url("./assets/fonts/BalooDa2-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "BalooDa2", "BalooDa2Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
